html,body{
                width: 100%;
                height: 100%;
                margin: 0px;
                padding: 0px;
                padding-top: 10px;
                background: url(bg.jpg) no-repeat fixed center;
                background-size: cover;
                font-family: "Montserrat", sans-serif;  
              }
.nav-wrapper .brand-logo img {
    height: 84px;
    position: relative;
    bottom: 10px;
}
.navbar {
    background-color: #ffebee;
}
.light-blue-text.text-darken-3 {
    color: #c51162 !important;
}
.cir{
    border: 0;
        height: 175px;
    width: 196px;
        border:solid #4e97d7;
    border-radius: 50%;}
h5 {
    font-size: 1.64rem;
    border: solid #4e97d7;
    line-height: 110%;
    margin: 0.82rem 0 0.656rem 0;
    background-color: #b2dfdb;
    color: #c51162;
}
    /*.content{
    background-color: #b2dfdb;
    border:solid #ffebee;
    padding-top: 80px;
    border-width: 20px;*/